<h1>A Simple Binary Machine</h1>
<p><a href="http://charlespetzold.com/">Charles Petzold's</a> book <a href="https://www.microsoftpressstore.com/store/code-the-hidden-language-of-computer-hardware-and-software-9780735611313"><cite>Code: The Hidden Language of Computer Hardware and Software</cite></a> is a fascinating read. My favorite part is chapter 12: A Binary Adding Machine.
    The chapter explains how one could make a machine able to add two 8-bit binary numbers together using 144 relays.
    As I learn best by doing (and lack soldering skills) I decided to make the virtual one below using the logic Mr. Petzold provided in the book. <br>
    All the switches on the top row are for the first number to add, and all the switches below are for the second number. Click the switches to toggle them between 0 and 1 for that bit. <br>
    For example 0110-0101 + 1011-0110 is top row: (down, up, up, down - down, up, down, up) second row: (up, down, up, up - down, up, up, down).
    The sum of the operation is 1-0001-1011 which is shown on the bulbs as: (on - off, off, off, on - on, off, on, on). This tool is best used in a desktop browser.<br>
    Please feel free to check out <a href="https://github.com/Marms314/binary-machine">the source code</a> on my GitHub.
</p>