<div class="machine-face">

    <!-- Switches for the first number -->
    <div class="number1">
        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate flipped">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>
    </div>

    <!-- Switch for the operand -->
    <div class="switch">
        <div class="switch-text">
            <p>+</p>
            <p>-</p>
        </div>
        <div class="switch-plate flipped">
            <div class="toggle"></div>
        </div>
    </div>
 
    <!-- Switches for the second number -->
    <div class="number2">
        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate flipped">
                <div class="toggle"></div>
            </div>
        </div>
     </div>

     <!-- Overflow/UnderFlow Bulb-->
    <div class="bulb-back">
        <div class="bulb"></div>
        <div class="bulb-text">
            <p>
            Overflow/<br>
            Underflow
            </p>
        </div>
    </div>

    <!-- Number Bulbs -->
    <div class="number-bulbs">
        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁷</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁶</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁵</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁴</p>
            </div>
        </div>
        
        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2³</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2²</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2¹</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁰</p>
            </div>
        </div>

    </div>
    
</div>