<div class="machine-face">

    <div class="number1">
        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate flipped">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>
    </div>

    <div class="switch">
        <div class="switch-text">
            <p>+</p>
            <p>-</p>
        </div>
        <div class="switch-plate flipped">
            <div class="toggle"></div>
        </div>
    </div>

    <div class="number2">
        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div class="switch-plate flipped">
                <div class="toggle"></div>
            </div>
        </div>
     </div>


    
</div>