<div class="machine-face">

    <!-- Switches for the first number -->
    <div class="number1">
        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-one-7th-place" class="switch-plate"  (click)="flipToggle('num-one-7th-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-one-6th-place" class="switch-plate"  (click)="flipToggle('num-one-6th-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-one-5th-place" class="switch-plate"  (click)="flipToggle('num-one-5th-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-one-4th-place" class="switch-plate"  (click)="flipToggle('num-one-4th-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-one-3rd-place" class="switch-plate"  (click)="flipToggle('num-one-3rd-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-one-2nd-place" class="switch-plate"  (click)="flipToggle('num-one-2nd-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-one-1st-place" class="switch-plate"  (click)="flipToggle('num-one-1st-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-one-0th-place" class="switch-plate"  (click)="flipToggle('num-one-0th-place')">
                <div class="toggle"></div>
            </div>
        </div>
    </div>

    <!-- Switch for the operand -->
    <div class="switch">
        <div class="switch-text">
            <p>-</p>
            <p>+</p>
        </div>
        <div id="operand" class="switch-plate" (click)="flipToggle('operand')">
            <div class="toggle"></div>
        </div>
    </div>
 
    <!-- Switches for the second number -->
    <div class="number2">
        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-two-7th-place" class="switch-plate"  (click)="flipToggle('num-two-7th-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-two-6th-place" class="switch-plate"  (click)="flipToggle('num-two-6th-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-two-5th-place" class="switch-plate"  (click)="flipToggle('num-two-5th-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-two-4th-place" class="switch-plate"  (click)="flipToggle('num-two-4th-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-two-3rd-place" class="switch-plate"  (click)="flipToggle('num-two-3rd-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-two-2nd-place" class="switch-plate"  (click)="flipToggle('num-two-2nd-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-two-1st-place" class="switch-plate"  (click)="flipToggle('num-two-1st-place')">
                <div class="toggle"></div>
            </div>
        </div>

        <div class="switch">
            <div class="switch-text">
                <p>1</p>
                <p>0</p>
            </div>
            <div id="num-two-0th-place" class="switch-plate"  (click)="flipToggle('num-two-0th-place')">
                <div class="toggle"></div>
            </div>
        </div>
     </div>

     <!-- Overflow/UnderFlow Bulb-->
    <div class="bulb-back">
        <div class="bulb"></div>
        <div class="bulb-text">
            <p>
            Overflow/<br>
            Underflow
            </p>
        </div>
    </div>

    <!-- Number Bulbs -->
    <div class="number-bulbs">
        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁷</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁶</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁵</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2⁴</p>
            </div>
        </div>
        
        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2³</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2²</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb"></div>
            <div class="bulb-text">
                <p>2¹</p>
            </div>
        </div>

        <div class="bulb-back">
            <div class="bulb bulb-turned-on"></div>
            <div class="bulb-text">
                <p>2⁰</p>
            </div>
        </div>

    </div>
    
</div>